* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background: rgba(13, 2, 8, 1);
    margin: 0;
  }
  
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 32px auto;
}
  
.nav-list {
    background-color: #5a2d42; 
    padding: 16px 32px;
    display: flex;
    gap: 32px;
    border-radius: 20px;
    align-items: center;
}
  

.nav-list a {
    color: #fff; 
    font-size: 17px;
    text-decoration: none;
}
  
  

.nav-list a:hover {
    text-decoration: underline;
}

.brand {
    font-weight: bold;
    margin: 0 200px;
    font-family: Source Serif 4;
    font-size: 42px !important;
    text-align: left;
    color: rgba(228, 215, 222, 1);
}

.header {
    background: rgba(13, 2, 8, 1);
    text-align: center;
    padding: 60px 20px;
}

  
.header h1 {
    color: rgb(254, 230, 235);
    font-family: Domine;
    font-size: 100px;
    font-weight: 700;
    line-height: 120px;
    letter-spacing: 0.001em;
    text-align: center;
}
  
.hero-image {
    width: 100%;
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    background: linear-gradient(171.51deg, rgba(13, 2, 8, 0.7) 43.65%, rgba(250, 196, 223, 0.112) 141.61%);

}
  
@media (max-width: 768px) {
    .header {
        padding: 40px 15px;
    }
  
    .header h1 {
        font-size: 70px;
        margin-bottom: 20px;
    }
  
    .hero-image {
        height: auto;
    }
}
 
@media (max-width: 480px) {
    .header {
        padding: 30px 10px;
    }

    .header h1 {
        font-size: 40px;
        margin-bottom: 15px;
    }
  
    .hero-image {
        height: auto;
    }
}


.projects {
    background: rgba(13, 2, 8, 1);
    padding: 40px 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-items: center;
    color: #fff;
}

.project {
    text-align: center;
    width: 100%;
    max-width: 300px;
}

.project img {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 10px;
}


.footer {
    background: rgba(13, 2, 8, 1);
    color: #fff;
    padding: 40px 20px;
    text-align: center;
}

.stay-connected{
    padding: 30px;
    font-size: 40px;
    font-family: Domine;
    color: rgba(228, 215, 222, 1);
    line-height: 40px;
}

.subscribe-section input {
    padding: 10px;
    width: 60%;
    max-width: 300px;
    margin-top: 20px;
    border-radius: 15px;
}

.subscribe-section button {
    padding: 10px;
    background-color: #e4569b;
    color: #fff;
    cursor: pointer;
    border-radius: 15px;
}

.social-icons {
    margin-top: 20px;
}

.social-icons img {
    
    font-size: 24px;
    margin: 0 10px;
}

.footer-text {
    margin-top: 20px;
}

.contact-me {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
}




@media (max-width: 900px) {
    .projects {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (max-width: 600px) {
    .projects {
        grid-template-columns: 1fr;
}
}

